<nb-card>
  <nb-card-header>
    اطلاعات پایه
  </nb-card-header>
  <nb-card-body>
    <div class="container-fluid" id="form-member-info">
      <table class="table table-border">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label">
            <input name="billId" class="form-control form-control-primary" value="{{billId}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label1">
            <input name="eshterak" class="form-control form-control-primary" value="{{eshterak}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label2">
            <input name="radif" class="form-control form-control-primary" value="{{radif}}"  readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label3">
            <input name="karbari" class="form-control form-control-primary" value="{{karbari}}" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label4">
            <input name="firstName" class="form-control form-control-primary" value="{{firstName}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label5">
            <input name="lastName" class="form-control form-control-primary" value="{{lastName}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label6">
            <input name="qotr" class="form-control form-control" value="{{qotr}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label7">
            <input name="siphon" class="form-control form-control-primary" value="{{siphon}}" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label8">
            <input name="fatherName" class="form-control form-control-primary" value="{{fatherName}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label9">
            <input name="zoneTitle" class="form-control form-control-primary" value="{{zoneTitle}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label10">
            <input name="zoneId" class="form-control form-control-primary" value="{{zoneId}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label11">
            <input name="counterSerial" class="form-control form-control-primary" value="{{counterSerial}}" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label12">
            <input name="domesticUnit" class="form-control form-control-primary" value="{{domesticUnit}}"  readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label13">
            <input name="nonDomesticUnit" class="form-control form-control-primary" value="{{nonDomesticUnit}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label14">
            <input name="noeVagozari" class="form-control form-control-primary" value="{{noeVagozari}}" readonly>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3 d-flex p-2 has-label15">
            <input name="capacity" class="form-control form-control-primary" value="{{capacity}}" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex p-2 has-label16">
            <input name="address" class="form-control form-control-primary" value="{{address}}" readonly>
          </div>
        </div>

      </table>
    </div>
  </nb-card-body>
</nb-card>
