<nb-card>
  <nb-card-header>ثبت درخواست خدمات پس از فروش</nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div class="row validation-checkboxes">
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">واگذاری انشعاب فاضلاب</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر ظرفیت قراردادی&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر مشخصات&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر مکان کنتور&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر کاربری انشعاب&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر قطر انشعاب&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">نصب سیفون اضافی&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر واحد&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">تغییر قطر سیفون &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">استعلام از محضر&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">قطع و وصل انشعاب&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">جابجایی سیفون&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
        <nb-checkbox class="col-sm-6 col-md-6 col-lg-3" status="success">نظام مهندسی&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</nb-checkbox>
      </div>
    </div>
  </nb-card-body>
</nb-card>
