.has-label1 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'واگذاری انشعاب فاضلاب';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}
.has-label2 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر ظرفیت قراردادی';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}
.has-label3 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر مشخصات';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}
.has-label4 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر مکان وسایل اندازه‌گیری';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}
.has-label5 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر کاربری انشعاب';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}
.has-label6 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر قطر انشعاب';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label7 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'نصب سیفون اضافی';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label8 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر واحد';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label9 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'تغییر قطر سیفون';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label10 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'استعلام از محضر';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label11 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'قطع و وصل انشعاب';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label12 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'جابجایی سیفون';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label13 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: 'نظام مهندسی';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label14 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: '';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label15 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: '';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label16 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: '';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label17 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: '';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}

.has-label18 {
  position: relative;

  .form-control {
    padding-right: 7rem;
  }
  &::before {
    content: '';
    font-family: 'Ionicons';
    font-size: 16px;
    position: absolute;
    z-index: 100;
    right: 1rem;
    top: 1.5rem;
  }
}


