#right-column-caption {
  caption-side: top;
}
nb-card nb-card-body .container-fluid .left-table-position {
  margin-left: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
