<nb-card>
    <nb-card-header>نمایش پیامک(ها)</nb-card-header>
    <nb-card-body>
      <div class="conatainer-fluid float-left col-lg-6 wrapper">
        <div class="row ">
          <div class="col-lg-4">
            <h5>
              <label>شماره همراه</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ">
            <label>
              <h5>روز ارسال</h5>
            </label>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h5>
              <label>ساعت ارسال</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h5>
              <label>متن پیام</label>
            </h5>
          </div>
          <div class="col-lg-8">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ">
            <h5>
              <label>وضعیت</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ">
            <h5>
              <label>ارسال مجدد</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <button type="button" class="col-lg-12 btn btn-primary">برای ارسال کلیک نمایید</button>
          </div>
        </div>
      </div>

      <div class="conatainer-fluid col-lg-6 wrapper">
        <div class="row ">
          <div class="col-lg-4">
            <h5>
              <label>شماره همراه</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ">
            <label>
              <h5>روز ارسال</h5>
            </label>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h5>
              <label>ساعت ارسال</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <h5>
              <label>متن پیام</label>
            </h5>
          </div>
          <div class="col-lg-8">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ">
            <h5>
              <label>وضعیت</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <input name="evaluator name" class="form-control form-control-primary">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ">
            <h5>
              <label>ارسال مجدد</label>
            </h5>
          </div>
          <div class="col-lg-8 ">
            <button type="button" class="col-lg-12 btn btn-primary">برای ارسال کلیک نمایید</button>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
